<div class="container-fluid">
  <div class="row">
    <div class="col-4 border-end border-primary">
      <div class="mt-3">
        <div class="card mb-3">
          <div class="card-body">
            <p>Times rendered: {{ renderCount }}</p>

            <div class="form-check form-switch mb-3">
              <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                id="switchMutable"
                [(ngModel)]="useMutableInputAssignment"
              />

              <label class="form-check-label" for="switchMutable"
                >Use mutable input assignment</label
              >
            </div>

            <button type="button" class="btn btn-primary" (click)="renderCytoscapeGraph()">
              Render Cytoscape.js graph
            </button>
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-body">
            <button type="button" class="btn btn-primary me-1" (click)="renderCx1Graph()">
              Render CX1 graph
            </button>

            <button type="button" class="btn btn-primary me-1" (click)="renderCx2Graph()">
              Render CX2 graph
            </button>

            <button type="button" class="btn btn-primary" (click)="renderCx1BackgroundGraph()">
              Render CX1 graph with background color
            </button>

            <div class="mt-3">
              <label for="textareaNameMap" class="form-label">cxAttributeNameMap</label>
              <textarea class="form-control" id="textareaNameMap" rows="5">{{
                cxAttributeNameMap | json
              }}</textarea>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                id="switchAutoResize"
                [(ngModel)]="autoFit"
              />

              <label class="form-check-label" for="switchAutoResize">Enable auto resize</label>
            </div>

            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                id="switchApplyBackgroundColor"
                [(ngModel)]="applyBackgroundColor"
              />

              <label class="form-check-label" for="switchApplyBackgroundColor"
                >Apply background color</label
              >
            </div>

            <button type="button" class="btn btn-primary" (click)="fitGraph()">Fit graph</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-8 full-height">
      <cytoscapejs
        [cytoscapeOptions]="cytoscapeOptions!"
        [autoFit]="autoFit"
        [applyBackgroundColor]="applyBackgroundColor"
        [cxData]="cxData"
        [cxConverters]="cxConverters"
        (coreChanged)="coreChanged($event)"
        (cxAttributeNameMapChanged)="cxAttributeNameMapChanged($event)"
      ></cytoscapejs>
    </div>
  </div>
</div>
